/*
    Media Queries For Mobile Device
------------------------------------------*/

$sm-mobile-width: 320px;
$md-mobile-width: 360px;
$lg-mobile-width: 425px;

/* ----- Less Than 5 Inchi, 320px or Greater ----- */

@mixin smallMobile {
    @media #{$sm-mobile-width} {
        @content;
    }
}

/* ----- 5.0 To 5.5 Inchi, 360px or Greater ----- */

@mixin mediumMobile {
    @media #{$md-mobile-width} {
        @content;
    }
}

/* -----  Greater Than 5.5 Inchi, 425px or Greater ----- */

@mixin largeMobile {
    @media #{$lg-mobile-width} {
        @content;
    }
}
