/*
    Set Custom Variables
---------------------------------*/

/* ----- Fonts ----- */

$hindFont: "Hind", sans-serif;

/* ----- Colors ----- */

$whiteColor: #FFFFFF;
$blackColor: #111111;
$primaryColor: lime;
$secondaryColor: #FE7836;
$textColor: #c2c2c2;
$placeholderColor: #D9D9D9;

/* ----- Sizes ----- */

$titleSize: 3rem;
$taskFieldSize: 1.325rem;
$textSize: 1rem;