<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="content-type" content="text/html">
    <meta name="author" content=”Abdul Halim">
    <title>TS ToDo List</title>
    <link rel="icon" href="../dist/images/typescript.png" type="image/png" />
    <link rel="stylesheet" href="../dist/css/app.bundle.css" />
</head>
<body>

    <section class="title__section">
        <h1 class="title__section--wrapper"><span class="text-lime">TODO</span> List</h1>
    </section>

    <section class="input__section">
        <input type="text" class="input__section--task" placeholder="What do you want to do..." />
        <button type="button" class="input__section--add"><i class="fa fa-plus"></i></button>
    </section>

    <section class="item__section">
        <!-- Content Injected by JS DOM -->
    </section>

    <script src="../dist/js/app.bundle.js"></script>

</body>
</html>